<p>
  createad works!
</p>
<md-card> 
  <md-card-title>Create new post</md-card-title>
  <md-card-content>
    <div>
    <md-input placeholder="Name" maxlength="50"></md-input>
    </div>
    <div>
    <md-input placeholder="Price" maxlength="50"></md-input>
    </div>
    <div>
    <md-input placeholder="Console" maxlength="15"></md-input>
    </div>
    <div>
    <md-input placeholder="Section" maxlength="50"></md-input>
    </div>
    <div>
    <md-input placeholder="Description" maxlength="50"></md-input>
    </div>
  </md-card-content>
  <md-card-actions></md-card-actions>
</md-card>
<!--
    id: number;
    console: string;
    section: string;
    itemIdentification: string;
    expDate: Date;
  -->