<md-spinner *ngIf="loading"></md-spinner>
<md-card *ngIf="!loading">
  <form  [formGroup]="loginForm"  *ngIf="active"  (ngSubmit)="login()">
    <md-card-title>
      Login
    </md-card-title>
    <md-card-content>
      <div>
        <md-input placeholder="email" type="email" style="width:100%;" formControlName="email" required>
          <md-hint *ngIf="formErrors.email" align="end">{{ formErrors.email }}</md-hint>
        </md-input>
      </div>
      <div>
        <md-input placeholder="password" type="password" style="width:100%;" formControlName="password" required>
          <md-hint *ngIf="formErrors.password" align="end">{{ formErrors.password }}</md-hint>
        </md-input>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-button type="submit" [disabled]="!loginForm.valid">Login</button>
      <button md-button (click)="cancelLogin()">Cancel</button>
      <button md-raised-button (click)="loginGoogle()" style="padding-left:0;"><img src="../../assets/images/g-logo.svg">Sign in with Google</button>
    </md-card-actions>
  </form>
</md-card>