<md-spinner *ngIf="loading" style="padding-top:128px; margin:auto;"></md-spinner>
<div *ngIf="!loading" style="margin-top:12px; padding-top:64px;">
  <div style="max-width:400px; min-width:300px; margin:auto;">
    <md-card>
      <md-card-title style="text-align:center;">Log in to admin your ads!</md-card-title>
      <form  [formGroup]="loginForm"  *ngIf="active"  (ngSubmit)="login(emailCtrl, passwordCtrl)">
        <md-card-content>
          <div style="margin:8px 0;">
            <md-input placeholder="email" type="email" style="width:100%;" formControlName="email" #emailCtrl required>
              <md-hint *ngIf="formErrors.email" align="end">{{ formErrors.email }}</md-hint>
            </md-input>
          </div>
          <div style="margin:8px 0;">
            <md-input placeholder="password" type="password" style="width:100%;" formControlName="password" #passwordCtrl required>
              <md-hint *ngIf="formErrors.password" align="end">{{ formErrors.password }}</md-hint>
            </md-input>
          </div>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button type="button" (click)="forgotPassword(emailCtrl)" style="float:right; margin-bottom:8px; margin-right:4px;">Forgot Password</button>
          <button md-raised-button type="submit" [disabled]="!loginForm.valid" style="margin-bottom:8px;">Login</button>
          <button md-raised-button type="button" (click)="cancelLogin()">Cancel</button>
        </md-card-actions>
        <md-card-subtitle style="text-align:center;">
          - or -
        </md-card-subtitle>
        <md-card-actions style="padding-left:16px; padding-right:16px;">
          <button md-raised-button type="button" (click)="loginGoogle()" style="width:100%; padding-left:0px;"><img src="../../assets/images/g-logo.svg" style="float:left;"><span><b>Sign in with Google</b></span></button>
        </md-card-actions>
      </form>
    </md-card>
  </div>
  <br>
  <div style="max-width:550px; min-width:300px;margin:auto;">
    <app-sign-up></app-sign-up>
  </div>
</div>