<md-spinner *ngIf="loading" style="padding-top:128px; margin:auto;"></md-spinner>
<div *ngIf="!loading" style="margin-top:76px;">
  <div style="max-width:400px; min-width:300px; margin:auto;">
    <md-card>
      <md-card-title style="text-align:center;">Log in to admin your ads!</md-card-title>
      <form  [formGroup]="loginForm"  *ngIf="active"  (ngSubmit)="login()">
        <md-card-content>
          <div>
            <md-input placeholder="email" type="email" style="width:100%;" formControlName="email" required>
              <md-hint *ngIf="formErrors.email" align="end">{{ formErrors.email }}</md-hint>
            </md-input>
          </div>
          <div>
            <md-input placeholder="password" type="password" style="width:100%;" formControlName="password" required>
              <md-hint *ngIf="formErrors.password" align="end">{{ formErrors.password }}</md-hint>
            </md-input>
          </div>
        </md-card-content>
        <md-card-actions>
          <button md-button type="submit" [disabled]="!loginForm.valid">Login</button>
          <button md-button type="button" (click)="cancelLogin()">Cancel</button>
          <button md-button type="button" (click)="cancelLogin()" style="float:right;">Forgot Password</button>
        </md-card-actions>
        <md-card-subtitle style="text-align:center;">
          - or -
        </md-card-subtitle>
        <md-card-actions style="padding-left:16px; padding-right:16px;">
          <button md-raised-button type="button" (click)="loginGoogle()" style="width:100%; padding-left:0px;"><img src="../../assets/images/g-logo.svg" style="float:left;"><span><b>Sign in with Google</b></span></button>
        </md-card-actions>
      </form>
    </md-card>
  </div>
  <br>
  <div style="max-width:550px; min-width:300px;margin:auto;">
    <app-sign-up></app-sign-up>
  </div>
</div>