<table>
  <tr>
    <td style="vertical-align:top;">
      <md-nav-list style="width:200px;">
        <a *ngIf="authService.isLoggedIn" md-list-item routerLink="/admin" routerLinkActive="active">{{ this.authService.user.name == '' ? 'Account' : this.authService.user.name }}</a>
        <a *ngIf="!authService.isLoggedIn" md-list-item routerLink="/login" routerLinkActive="active">Log in</a>
        <a *ngFor="let console of keys(consoles);" md-list-item routerLink="/games/{{console}}" 
        routerLinkActive="active">{{consoles[console]}}</a>
        <a *ngIf="authService.isLoggedIn" md-list-item (click)="logout();">Log out</a>
      </md-nav-list>
    </td>
    <td style="vertical-align:top; width:100%;">
      <router-outlet></router-outlet>
    </td>
  </tr>
</table>