<table>
  <tr>
    <td>
      <md-nav-list style="width:200px;">
        <a md-list-item routerLink="/login" routerLinkActive="active">Log in</a>
        <a md-list-item routerLink="/admin" routerLinkActive="active">Account</a>
        <a *ngFor="let console of keys(consoles);" md-list-item routerLink="/games/{{console}}" 
        routerLinkActive="active">{{consoles[console]}}</a>
      </md-nav-list>
    </td>
    <td style="vertical-align:top; width:100%;">
      <router-outlet></router-outlet>
    </td>
  </tr>
</table>