<div style="height:100%;">
    <md-card> 
        <md-card-title>Account Information</md-card-title>
        <app-account-form #accountForm [user]="user" (saveSubmit)="saveSubmit($event)"></app-account-form>
    </md-card>
    <md-card>
        <md-card-actions>
            <button *ngIf="authService.isPasswordUser()" type="button" md-button (click)="changePasswordEmail()">Send Change Password Email</button>
            <button type="button" md-button (click)="deleteAccount()">Delete Account</button>
            <button type="button" md-button>Terms and Conditions</button>
        </md-card-actions>
    </md-card>
</div>