<md-card> 
  <md-card-title>Account Information</md-card-title>
  <md-card-content>
    <div>
    <md-input placeholder="Name" maxlength="50" style="width:275px;"></md-input>
    </div>
    <div>
    <md-input placeholder="Email" maxlength="50" style="width:275px;"></md-input>
    <md-checkbox>Show on ads</md-checkbox>
    </div>
    <div>
    <md-input placeholder="Telephone" maxlength="15" style="width:275px;"></md-input>
    <md-checkbox>Show on ads</md-checkbox>
    </div>
    <div>
    <md-input placeholder="Location" maxlength="50" style="width:275px;"></md-input>
    </div>
    <div>
      <md-input disabled value="Prefered contact method:"></md-input>
      <md-checkbox>Call</md-checkbox>
      <md-checkbox>Text Message</md-checkbox>
      <md-checkbox>Email</md-checkbox>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button>Save</button>
    <button md-button>Cancel</button>
  </md-card-actions>
</md-card>
<!-- 
  user name
  email (and if show)
  telephone (and if show)
  favorite contact method
  location
  -->