<div *ngIf="ads">
  <br>
  <div *ngFor="let ad of ads;">
    <!--<md-card routerLink="/games/{{ad.console}}/{{ad.section}}/{{ad.id}}" routerLinkActive="active">-->
    <md-card style="margin:6px;">
      <button md-mini-fab *ngIf="authService.user.id === ad.ownerid" (click)="deleteAd(ad);" style="float:right;">
      <md-icon class="md-24">delete</md-icon>
      </button>
      <md-card-title-group>
        <md-card-title>{{ ad.name }}</md-card-title>
        <md-card-subtitle *ngIf="ad.price !== ''">${{ad.price}}</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        <div style="display:inline; margin-right:12px;">
          <img style="width:175px;" *ngIf="ad.imageKey" src="{{getImageSrc(ad.imageKey)}}" alt="{{ad.name}}">
        </div>
        <div style="display:inline-block;vertical-align:top;">
                <!--<label for="" *ngIf="ad.console !== ''">Console: {{consoles[ad.console]}}<br></label>-->
                <label for="" *ngIf="ad.section !== '' && ad.console !== ''">{{sections[ad.section]}}, {{consoles[ad.console]}}<br></label>
                <label for="" *ngIf="ad.owner !== ''">{{ad.owner}}<span for="" *ngIf="ad.city !== ''">, {{ad.city}}<br></span></label>
                <label for="" *ngIf="ad.email !== ''">E.: {{ad.email}}<br></label>
                <label for="" *ngIf="ad.telephone !== ''">Tel.: {{ad.telephone}}<br></label>
                <label for="" *ngIf="ad.contactMethod !== ''">Prefered contact method: {{ad.contactMethod}}<br></label>
                <br>  
                <label for="" *ngIf="ad.description">Description: {{ad.description}}<br></label>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>