<form [formGroup]="accountForm"  *ngIf="active && user"  (ngSubmit)="onSubmit()">
  <md-card-content>
    <div>
    <md-input placeholder="Name" maxlength="50" style="width:275px;" formControlName="name" required>
        <md-hint *ngIf="formErrors.name" align="end">{{ formErrors.name }}</md-hint>
    </md-input>
    </div>
    <div>
    <md-input placeholder="Email" maxlength="50" type="email" style="width:275px;" formControlName="email" required>
        <md-hint *ngIf="formErrors.email" align="end">{{ formErrors.email }}</md-hint>
    </md-input>
    <md-checkbox formControlName="emailOnAd">Show email on new Ads</md-checkbox>
    </div>
    <div>
    <md-input placeholder="Telephone" maxlength="15" type="tel" style="width:275px;" formControlName="telephone" required>
        <md-hint *ngIf="formErrors.telephone" align="end">{{ formErrors.telephone }}</md-hint>
    </md-input>
    <md-checkbox formControlName="telephoneOnAd">Show telephone on new Ads</md-checkbox>
    </div>
    <div>
    <md-input placeholder="City" maxlength="50" style="width:275px;" formControlName="city" required>
        <md-hint *ngIf="formErrors.city" align="end">{{ formErrors.city }}</md-hint>
    </md-input>
    </div>
    <div>
      <md-input disabled value="Prefered contact method:"></md-input><br>
      <md-checkbox formControlName="methodCall">Call</md-checkbox>
      <md-checkbox formControlName="methodTextMessage">Text Message</md-checkbox>
      <md-checkbox formControlName="methodEmail">Email</md-checkbox>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button type="submit" [disabled]="!accountForm.valid">Submit</button>
    <button md-button (click)="cancelChanges()">Cancel</button>
  </md-card-actions>
</form>
